html {
	height: 100%;
}
body {
	height: 100%;
	font-size: 14px;
	font-family: 'Georgia', serif;
	margin: 0;
	background-color: #eee;
}

.background.closed{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
}
.background > button {
	font-size: 200%;
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: none;
	position: absolute;
	width: 120px;
	top: 50%;
	display: inline-block;
	margin: -40px auto 0 -60px;
	padding: 20px 0;
	border-radius: 5px;
	background-color: #f6f8f9;
}
.background > button:hover {
	background-color: #e8e9ea;
}
.background > button.clicked {
	background-color: black;
	color: #f2faff;
	transition: all 300ms ease-in-out, opacity 1000ms ease-in-out;
	opacity: 0;
}

/* Door open */
/*
#left-door {
	background-color: #ff9e2c;
	width: 50%;
	height: 100%;
	float: left;
	margin: 0;
}
#right-door {
	background-color: #60B2BC;
	width: 50%;
	height: 100%;
	float: left;
	margin: 0;
}
.background > #left-door.goLeft {
	transition: all 500ms ease-in-out;
	transform: translateX(-100%);
}
.background > #right-door.goRight {
	transition: all 500ms ease-in-out;
	transform: translateX(100%);
}
*/

/*
.modal-wrap {
	max-width: 750px;
	margin 100px auto;
}
.modal-bodies {
	position: relative;
}
*/

/* Modal Specs */
.modal-body {
	width: 750px;
	max-width: 100%;
	display: hidden;
	padding: 40px 100px;
	/*box-sizing: border-box;*/
	opacity: 0;
	background: pink;
	position: relative;
	margin: 0 auto;
}
.modal-body .modal-content.center-text {
	text-align: center;
}
.modal-body#modal-main {
	transform: translateY(300%);
}
.modal-body#modal-main.is-showing {
	display: block;
	opacity: 1;
	transition: all 500ms ease-in-out, opacity 500ms ease-in-out;
	transform: translateY(100%);
}




